*~
/*.log
*.lst
/cassandra.d/
/1.txt
/3.txt
/hystogram.py
/t1.txt
*.pyc
/ddog-names.txt
/opsc_metrics.json
/opsc-to-datadog/1.log
/opsc-to-datadog/config.py-real
/opsc-to-datadog/metrics.json
/opsc-to-datadog/config.py-empty
/opsc-to-datadog/new-metrics.txt
/spark-data-migrator/.idea/
target/
.DS_Store
/spark-data-remover/.idea/
